<html>
    <h1> Homepage </h1>
    <ul>
        <li>
            <a href="/api/user/list">Users</a>
        </li>
        <li>
            <a href="/api/car/all">Car listing</a>
        </li>
        <li>
            <a href="/api/car">Add Car</a>
        </li>
        <li>
            <a href="/api/user/all/1">Users that are clients</a>
        </li>
    </ul>
    
</html>