<html>
    <h1> Homepage </h1>
    <ul>
        <li>
            <a href="/api/user/list">Users</a>
        </li>
        <li>
            <a href="/api/car/all">Cars</a>
        </li>
        <li>
            <a href="/api/user">Users</a>
        </li>
        <li>
            <a href="/api/user">Users</a>
        </li>
    </ul>
    
</html>